
target/**

.idea/**

frontier/**

*.class

*.jar

*.class

.idea/misc.xml

.idea/workspace.xml

target/classes/com/udatabank/controllers/CrawlerDemoController.class

*.class

target/classes/com/udatabank/controllers/CrawlerDemoController.class

*.class
